<!DOCTYPE html>

<!-- -->


<html lang="en">
	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Poll site</title>

	<link rel="icon" href="/static/img/favicon.ico" type="image/x-icon"></link>

    <!-- bootstrap sources -->
    <link href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- angular sources -->
    <script src="/static/node_modules/angular/angular.min.js"></script>
    <script src="/static/node_modules/angular-resource/angular-resource.js"></script>
    <script src="/static/node_modules/angular-route/angular-route.js"></script>

    <!-- chart sources -->
    <script src="/static/node_modules/chart.js/dist/Chart.min.js"></script>
    <script src="/static/node_modules/angular-chart.js/dist/angular-chart.min.js"></script>

    <!-- my controller and resource -->
     <script src="/static/src/PollModule.js"></script>
     <script src="/static/src/PollController.js"></script>

  </head>


<!-- here is main code))) in this code i plug angular template -->
<div ng-app='poll_ui' ng-controller="PollController as vm" >
{%  verbatim %}
    <div ng-include="'/static/src/PollTemplate.html'"></div>
{% endverbatim %}
</div>
</html>
