<div ng-hide="vm.answered">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-2">
                <strong > Question: </strong>
            </div>
            <div class="col-lg-8 col-md-8">
                <p> {{vm.question.question}} </p>
            </div>
        </div>
        <br/><br/>
        <div class="row" ng-repeat="row in vm.list_answers">
            <div class="col-md-4 col-lg-4">
                <h4>{{row.answer}}</h4>
            </div>
            <div class="col-lg-2 col-md-2">
                <button type="button" ng-click="vm.send_answer(row)" class="btn btn-sm left">
                    <i class="glyphicon glyphicon-circle-arrow-right"></i>
                </button>
            </div>
        </div>
    </div>

</div>