<div ng-show="vm.answered">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-2">
                <strong > Question: </strong>
            </div>
            <div class="col-lg-8 col-md-8">
                <p> {{vm.question.question}} </p>
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <canvas id="pie" class="chart chart-pie" style="padding-top: 10px;" chart-data="vm.chart_data" chart-options="vm.chart_options" chart-labels="vm.chart_labels" chart-colors="vm.chart_colors">
                        </canvas>
                    </div>
            </div>
        </div>
    </div>

</div>