<a href="/accounts/logout"> logout</a>

<div ng-include="'/static/src/PollAddQuestion.html'"></div>
<div ng-include="'/static/src/PollAnswerQuestion.html'"></div>
<div ng-include="'/static/src/PollAnswered.html'"></div>